<div class="pad">
  <% flash.each do |key, value| %> <!-- Displaying a state of submitted message (was accepted or not). This notice is located under contacts controller. -->
    <div>
        <%= value %>
    </div>
  <% end %>
</div>