<div dir="ltr"><span style="font-size:14px">Hi !</span></div>

<div dir="ltr">&nbsp;</div>

<div dir="ltr"><span style="color:#008000"><strong><span style="font-size:20px">Yeaha!</span></strong></span></div>

<div dir="ltr"><span style="font-size:14px">Reminder has been logged!</span></div>

<div dir="ltr">&nbsp;</div>

<div dir="ltr"><span style="font-size:14px"><strong>What next?</strong></span></div>

<div dir="ltr">You will receive it back on:</div>
details_schedule

<div dir="ltr">&nbsp;</div>

<div dir="ltr">&nbsp;</div>

<div dir="ltr">Thank you,</div>

<div dir="ltr">Your RemindMe team</div>
